

/***********************************************/
/**************login .html***************/
/*********************************************/
.log-in{
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login{
    width: 308px;
    margin-top: 30px
}
.form-control:focus , .form-control:hover {
    border-color:#544CF9;
    box-shadow: 0px 0px 8px 3px #ddd !important;
    outline: 0 !important;
}

button.square-an.white{

    color: #fff;
    width: 100%;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to right, rgb(84, 76, 249), rgb(190, 76, 249));
    transition: all .4s ease-in-out;
    margin-bottom: 0
}


button.square-an.white:hover{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    border-color: #544cf9;
    color: #544CF9;
    
}
.form-group {
    margin-bottom: 20px;   
}
.form-control {
    border-radius: 50px;
    border: 1px solid #ededed;
    background-color: #fff;
    height: 38px !important
}
.aligne-left{
    text-align: left
}
.dont-acount{
    text-align: center;
    margin-top: 20px
}
.log-in h4 {
    font-size: 30px;
}
.forget-password a{
    color: #6a6a83
}
.dont-acount span{
   color: #6a6a83
}
.dont-acount a{
   color: #584cf9
}


.button-form{
    margin-bottom: 20px
}
.eye-relative{
    position: relative
}
.eye-abslute{
    position: absolute;
    top: 34%;
    left: 20px;
}


/*******************************/


.custom-checkbox {
  font-family: arial;
  max-width: 500px;
  margin: 0 auto;
}

.checkbox-list {
  padding: 0;
  list-style: none;
}

.checkbox-list li {
  margin-bottom: 15px;
}

/*checkbox css start*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
    display: none
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label{
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #273869;
}


[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #544cf9;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 4px;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
    background: #544cf9;
    height: 9px;
    width: 9px;
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    top: 7px;
    border-radius: 50%;
    /* left: 25px; */
    right: 3px;
}

[type="checkbox"]:not(:checked) + label:after{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.span-margin-right{
    margin-right: 18px;
    font-size: 10px;
    color: #7b7b92;
}

.span-margin-right a {
    color: #584cf9;
}

/********************************************************************/
       /************contact.html ****************************/
/********************************************************************/
.contact{
   /* width: 70%;*/
    margin: auto;
   
    margin-top: 55px;
    margin-bottom: 55px;
}
.contact1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 55px;
}
.contact1 .form-group {
    margin-bottom: 30px;
}
.contact h4{
    margin-bottom: 40px;
    font-size: 23px;
    color: #544cf9;
}
.contact textarea{

    height: 100px !important;
    resize: none;
    border-radius: 30px;
    

}
.contact textarea row{
    width: 100%
}
.width-50{
    width: 50%
}
.form-group.width-100{
    width: 100%;
    display: flex;
    justify-content: center
}
.form-group.width-100 button{
    width: 45%
}

/************************************************************/
    /***************** profile.html *********************/
/************************************************************/

.logout-profile{
    color: antiquewhite
}
.logout-profile{
    color: #e1575d;
    text-decoration: underline;
    transition: all .4s ease-in-out
}
.logout-profile:hover{
    color: #cc3d43;
    text-decoration: underline
}

.contact.profile h4 {
    margin-bottom: 10px;
    font-size: 23px;
    color: #5D609A
}

/********** Start Profile .HTML ***********************/

.profile,
.profile .profile-pic {
	position: relative
}


/*** Start Profile Image */

.profile .images-upload-block {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 20px auto 0px auto;
	top: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
	box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
	width: 110px;
	height: 110px;
	line-height: 110px;
	border-radius: 50%
}

.profile-edit .upload-img {
	display: inline-block;
	width: 110px;
	height: 110px;
	line-height: 110px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	margin: 0 0;
	/* background-image: url(../img/pic.jpg); */
	background-size: cover;
}

.profile-edit .upload-img:before {
	content: '';
	position: absolute;
	width: 110px;
	height: 110px;
	right: 0;
}

.profile-edit .upload-img span {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 9;
	top: 50%;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	font-size: 22px;
}

.profile-edit .upload-img span i {
	color: #e4e4e4
}

.profile-edit .upload-img i {
	font-size: 20px;
	color: #393735;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 40px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
	box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
	border-radius: 50%;
    font-size: 13px;
    line-height: 32px
}

.profile-edit .upload-img input {
	position: absolute;
	opacity: 0;
	z-index: -1;
	display: none
}

.profile-edit .uploaded-block {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 110px;
	top: 0;
	height: 110px;
	border-radius: 50%;
	z-index: 9;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
	box-shadow: 0px 0px 14px 1px rgba(193, 191, 191, 1);
}

.profile-edit .uploaded-block img {
	width: 100%;
	height: 100%;
	margin: 0;
    border-radius: 50%;
    margin-top: -3px
}

.profile-edit .uploaded-block .close {
	position: absolute;
    top: 0;
    color: #fff !important;
    background: #544cf9 !important;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    opacity: 1;
    right: 0;
    margin: auto;
    padding: 0;
    cursor: pointer;
    text-shadow: none;
    font-size: 19px;
}


/*********************************/

.tabuu2 {
	padding: 0 110px 0 110px;
}

.profile-edit .tabuu2 {
	text-align: right;
}

.profile .topNav-left {
	text-align: right;
	width: 100%;
	display: block !important;
}

.profile .topNav-left .bootstrap-select button,
.profile .bootstrap-select .dropdown-toggle:focus,
.profile .topNav-left .btn-group.open .dropdown-toggle {
	display: block;
	width: 100% !important;
	height: 100% !important;
	background-color: #fff;
	border-radius: 0;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
}

.profile .topNav-left .bootstrap-select,
.profile .btn-group.bootstrap-select.form-control.open {
	border: 2px solid #F1F1F1 !important;
	padding: 4px !important;
	width: 100% !important;
	height: 34px !important;
	margin: 0 !important;
	border-radius: 0 !important;
}



.content-profile{
    width: 308px;
    margin: auto
}
section.width-70.contact.profile .contact1{
    margin-top: 0
}
.profile.all-sections{
    margin: 30px 0 !important
}
.width-100{
    width: 100% !important
}

/***************************************************************/
           /********** talb.html ***********/
/*************************************************************/
.tabl-bottom {
    margin-bottom: 50px;
}
form.form-talb {
    width: 90%;
}
p.p-padding {
    padding-right: 14px;
    color: #544cf9;
}
.enter-phone{
    color: #b6b8b9;
}


.div-append{
    display: inline-block;
    float: left;
    /* width: 100px; */
    background-color: #624cf9;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
.clear{
    clear: both;
    content: '';
}
.margin-bot-form{
    margin-bottom: 10px !important
}
#final-result{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 12px;
    border: 1px solid #624cf9;
    border-radius: 29px;
    display: none
}
#final-result span{
    font-size: 15px;
    color: #d93f3f;
    cursor: pointer;
    transition: all .4s ease-in-out
    
}
#final-result span:hover{
    font-size: 15px;
    color: #b61111;
    cursor: pointer;
    
}

.contact1 .form-control{
    height: 43px !important
}

/***************************************************************/
           /********** why-us.html ***********/
/*************************************************************/


.logo-why-us{
    width: 200px;
    margin-bottom: 40px
}
.why-us-p{
    width: 70%;
    line-height: 2.2;
    text-align: center
}
@media (max-width: 768px) {
   .why-us-p{
    width: 90%;
   
} 
}

/*upload fils*/

.contact .form-group textarea {
    height: 100px !important;
    resize: none;
    border-radius: 30px;
}
.form-group textarea {
    height: 100px !important;
    resize: none;
    border-radius: 30px;
    padding: 11px !important;
}
.add-comment{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center
}
.comment{
    width: 70%
}


.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;

}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
    width: 78%;
    font-size: 14px;
    padding: 8px 17px;
    border: none;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float: left;
    border-radius: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 23px 0 0px 23px;
}


.file-upload-button {
        cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    /* padding: 9px 20px; */
    border-radius: 0 24px 24px 0;
    border: none;
    margin-left: -1px;
    background-color: #544cf9;
    float: left;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 22%;
    padding: 9px 0;
}
.contact1.no-margin{
    margin: 0
}

.profile-margin {
    margin: 30px 0;
}
.margin-bot-0 {
    margin-bottom: 0 !important;
}
@media (max-width: 331px) {
    
    .file-upload-button {
    
        width: 23%;
    }
    .file-upload-input {
        width: 77%;}
}
@media (max-width: 768px) {
    
 .contact , .contact1{
    margin-top: 35px;
    margin-bottom: 35px;
}
}
